################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhysX_3.4/Bin/vc15win64
/PhysX_3.4/Lib/vc15win64
/PhysX_3.4/Source/compiler/vc15win64/.vs/PhysX/v16
/PhysX_3.4/Source/compiler/vc15win64/x64
/PxShared/bin/vc15win64
/PxShared/lib/vc15win64
/PxShared/src/compiler/vc15win64/x64
/.vs
/PhysX_3.4/Snippets/compiler/vc15win64/.vs/Snippets/v16
/PhysX_3.4/Snippets/compiler/vc15win64/x64
*.user
/PhysX_3.4/Snippets/lib/vc15win64
